{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<h1 class="bg-blue-500 font-bold text-center text-2xl">Hello World!</h1>
<p class="text-4xl text-blue-500">Did I finally do it?</p>
{% endblock %}


